site_name: Dwarf Clash Wiki
site_author: SkyClerik
theme:
  name: material
  language: ru
  features:
    - navigation.tracking
    - search.suggest
    - search.highlight
  palette: 
    # Палитра для светлой темы
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Переключить на темную тему
    # Палитра для темной темы
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Переключить на светлую тему
  custom_dir: overrides
extra_css:
  - assets/css/custom.css
extra_javascript:
  - https://cdn.jsdelivr.net/npm/sweetalert2@11
  - assets/js/secret_paths.js
  - assets/js/custom.js
plugins:
  - search:
      lang:
        - en
        - ru
      separator: '[\s\-\.]+'
  - awesome-pages
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.smartsymbols
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.magiclink